table {
  margin: 5rem auto;
  border: 1px solid grey;
  border-collapse: collapse;
}

th {
  border-bottom: 1px solid grey;
}
th, td {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid rgb(223, 223, 223);
  padding: 4px 7px 4px 7px;
}

.highlight {
  background: rgb(255, 255, 119);
}

input {
  display: flex;
  margin: 2rem auto;
  width: 20rem;

  font-size: 1rem;

  
  border-style: solid;
  border-color: #D2D2D2;
  border-width: 1px;
  box-shadow: 0px 0.3rem 0.5rem #D2D2D2;
  padding: 0.8rem 1.2rem 0.8rem 1.2rem;
}